.menusdetails{
    background: $color-grey-dark;
    color:$color-white;

    
    //nav
    &__nav{
        top: 0;
        position: relative;
        width: 100%;
        z-index: 1;
        transition: all .5s;
        background: $color-grey-light-2;
    }

    &__dropdownBackground{
        width:100px;
        height:100px;
        position: absolute;
        background: $color-grey-light-2;
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
        transition:all 0.3s, opacity 0.1s, translate 0.2s;
        transform-origin: 50% 0%;
        display: flex;
        justify-content: center;
        opacity:0;

        &.open{
            opacity: 1;
        }
    }

    &__arrow{
        position: absolute;
        width:20px;
        height:20px;
        display: block;
        background:$color-grey-light-2;
        transform: translateY(-50%) rotate(45deg);
    }

    &__list{
        display: flex;
        list-style: none;
        text-align: center;
    }
    &__name{
        font-size: 1.5rem;
        line-height: 10rem;
        cursor: pointer;
        list-style: none;
        flex: 1;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

        position: relative;

        &-1{
            display: block;
        }
    }

    &__category{
        opacity: 0;
        display: none;
        position: absolute;
        overflow: hidden;
        padding:20px;
        left:41%;
        border-radius:2px;
        transition: all 0.5s;
        transform: translateY(100px);
        will-change: transform;
        min-width:200px;
        -moz-column-count: 2;
        -moz-column-gap: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 1em;
        column-count: 2;
        column-gap: 1em;

        @include respond(tab-land){ 
            left:35%;
        }
        @include respond(tab-port){
            left: 33%;
        }
        @include respond(phone){
            top: -10rem;
            left: 29%
        }

        &.trigger-enter{
            display: block;
        }
        
        &.trigger-enter-active{
            opacity: 1;
        }
    }


    //card
    &__content{
        padding: 20rem 0;
    }
}

.fixed-nav{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    background: rgba(0,0,0,.3);
}