.shoppingcart{
    background: $color-grey-dark;
    color:$color-white;
    padding-bottom: 5rem;
    
    &__header{
        height: 40vh;
        background-image: 
            linear-gradient(
                to right bottom,
                    rgba($color-white,0.15),
                    rgba($color-grey-dark,0.65)),
                    url(../img/chef-small.jpg);
        background-size: cover;
        background-position:bottom;
        position: relative;

        @media  only screen and (min-resolution:192dpi) and (min-width:37.5em),
                only screen and (-webkit-min-device-pixel-ratio:2) and (min-width:37.5em),
                only screen and (min-width:125em){
            background-image: 
                linear-gradient(
                    to right bottom,
                    rgba($color-white,0.45),
                    rgba($color-grey-dark,0.65)),
                    url(../img/chef.jpg);
        }
    }

    &__welcome-content{
        position: absolute;
        top: 3rem;
        right: 0;
        //width: 28%;
        width: 40rem;
        

        @include respond(phone){
            right: 3rem;
            
        }
    }
    
    &__welcome-box{
        display: flex;
        justify-content: space-between;
        text-align: center;
        
        &--right{
            flex: 1;
        }

        &--left{
            flex:0 0 50%;

            &-1{
                text-align: right;
            }
        }
    }

    &__welcome-text{
        font-size: 1.6rem;
        color: #fff;
        font-weight: bold;
        padding-top: 2px;

        &-1{
            text-transform: uppercase;
        }

        &-2{
            @include respond(phone){
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
                width : 95px;
                
            }
        }
    }

    &__content{
        margin: 10rem 20rem;
        outline: 1.5rem solid $color-red-dark-1;
        box-shadow: 0 2.5rem 4rem rgba($color-black,.5);
        
    }

    &__box{
        
    }

    &__table{
        width: 100%;
        //margin: 10rem 0 2rem 0;
        border-spacing: 0;
        border-collapse: collapse;
        //background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        tr{
            border-bottom: 1px solid #f3f3f3;
            box-sizing: border-box;
        }

        th,td{
            //min-width: 2em;
            //width: 15%;
            padding: 15px;
            text-align: right;
        }

        th:first-child, td:first-child{
            //width: 40%;
            text-align: left;
        }
    
        th:last-child,td:last-child{
            padding-right: 10px;
        }

        thead{
            color: #ef8a8b;
            font-size: 16px;
            text-align: left;
        }
        
        tbody{
            font-size: 14px;
        }
        
        tbody .table-title {
            color: #c2c2c2;
            font-size: 12px;
        }
        
        tfoot{
            color: #959595;
            font-size: 12px;
            background: #f9f9f9;
        }
        
        tfoot .total-price {
            margin-left: 1em;
            color: #000;
            font-size: 20px;
        }
    }
    
    .checkout {
        display: block;
        width: calc(100% - 2 * 20px);
        margin: 20px;
        outline: 0;
        border: 0;
        padding: 15px 0;
        color: #fff;
        font-size: 18px;
        text-align: center;
        background-color: #ef8a8b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    // &__table{
    //     font-size:$default-font-size;
    //     text-align: center;
        
    //     table{
    //         margin: auto;
    //     }

    //     tr{
    //         height: 7rem;
    //         //width: 445px;
    //     }

    //     td{
    //         vertical-align: middle;
    //         text-align: center;
    //         width: 500px;
    //     }

    //     .title{
    //         font-weight: 900;
    //         font-size: 2rem;
    //     }

    //     .textarea{
    //         font-size:2rem;
    //         min-height: 15rem;
    //         max-width: 498.4px;
    //         width: 100%;
    //         border-radius: 5px;
    //         background: $color-white;
    //         color: $color-black;
    //         border: 1px solid $color-grey-dark-2;
    //         margin-bottom: 15px;
    //     }

    //     .warning-box{
    //         text-transform: uppercase;
    //         padding:1.5rem 4rem;
    //         display: inline-block;
    //         border-radius: 10rem;
    //         font-size: $default-font-size;
    //         background:$color-grey-light-3;
    //         width: 100%;
    //         color: $color-black;
    //         text-align: center;
    //         line-height: 2.7rem;
    //     }
    // }
}